.normalCart{
    background-color: #256c0240;
}

.subCart{
    background-color: #cfff001c;
}

.first-cart{
    color: #2f2f2dde;
    font-size: 17px;
    font-weight: 700;
}
.freq-cart{
    color: #b0b0b0;
    font-size: 11px;
}