.detailBox{
    background-color: #bbcc9b80;
    /* min-width: 300px;
    max-width: 80%; */
    /* height: 200px; */
}
.leftDetails{
    display: flex;
    flex-direction: row;
}
.pImages{

}
.pImages img{
    height: 150px;
}

.middleDetails{
    width: 100%;
}

.firstLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -6px;
    margin-bottom: -9px;
}
.secLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.thirdLine{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;     */
}
.divider{
    height: 1.5px;
    background: #8f260d4f;
    margin-top: -2%;
    margin-bottom: 0%;
}
@media (max-width: 400px){
    .rightDetails{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}

.rightDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.reOrder{
    border-style: solid;
    border-width: 1px;
    border-color: #8f260d4f;
    text-align: center;
    border-radius: 3px;
    background:#c6df95;
    cursor: pointer;
}

.addToBag{
    border-style: solid;
    border-width: 1px;
    border-color: #c6df95;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    background-color: #669d6b87;
}