.heading-type{
    /* background: aliceblue; */
    width: max-content;
    margin-bottom: 3%;
    /* @media(max-width:767px){
        width: auto;
      } */
}
@media (max-width:767px) {
    .heading-type{
        width: -webkit-fill-available;
        margin-bottom: 6%;
    }
}

.heading-type .headings  {
    padding: 20px;
    margin: 2px;
    background: rgba(218, 165, 32, 0.341);
    font-size: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width:767px) {
    .heading-type .headings{
        font-size: 17px;
    }
}
.heading-type .headings:active{
    background:  rgb(104, 89, 5);
   
}

.activeheading{
    padding: 20px;
    margin: 2px;
    /* background: lightseagreen; */
    font-size: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    cursor: pointer;
    background-color: goldenrod;
}
@media (max-width:767px) {
    .heading-type .activeheading{
        font-size: 17px;
    }
}
.activeheading:active{
    background: rgb(104, 89, 5);
}